// Botón de secciones: Beneficios Autos 0km; Beneficios Usados Certificados; Por qué nosotros;

$gradienteBoton1: rgb(146,161,241);
$gradienteBoton2: rgb(86,109,237);
$buttonTextColor: white;



.button{
	border-radius: 1rem;
	padding: 0.7rem;
	margin-left: 2rem;
	text-decoration: none;
	font-size: 2rem;
	// En vista mobile:
	@media only screen and (max-width: 767px){
	font-size: 1rem;
	}
	color: $buttonTextColor;
	background-image: linear-gradient(to left, $gradienteBoton1, $gradienteBoton2,);
	color:#313131;
    position: absolute;
    -webkit-animation:colorchange 20s infinite alternate;
}

@-webkit-keyframes colorchange {
  0% {
    
    color: blue;
  }
  
  10% {
    
    color: #8e44ad;
  }
  
  20% {
    
    color: #1abc9c;
  }
  
  30% {
    
    color: #d35400;
  }
  
  40% {
    
    color: blue;
  }
  
  50% {
    
    color: #34495e;
  }
  
  60% {
    
    color: blue;
  }
  
  70% {
    
    color: #2980b9;
  }
  80% {
 
    color: #f1c40f;
  }
  
  90% {
 
    color: #2980b9;
  }
  
  100% {
    
    color: pink;
  }
}