$azulFondo: rgb(27,33,65);
$grisFondo: rgb(242,243,248);
$h3Carrusel: darkred;
$colorh2Usados: white; //En el carrusel
$colorListaUsados: white; //En el carrusel
$porQueNosotrosh3: darkred; //seccion: Por qué Nosotros h3



// Colores de fondo index
.carrusel__usados--backgroundColor{background-color: $azulFondo;}
.carrusel__0km--backgroundColor{background-color: rgb(242, 237, 237);}
.porQueNosotros--backgroundColor{background-color: $grisFondo;}
.autos0kmMobile__contenedor--backgroundColor{background-color: $grisFondo;}
.usadosMobile__contenedor--backgroundColor{background-color: $azulFondo}
.footer--backgroundColor{background-color: $azulFondo;}
.encuentraX--backgroundColor{background-color: $grisFondo;}

.encuentraXMarca{background-color: $grisFondo}
.encontraXTipo{background-color: $grisFondo}
.textColorWhite{color: white;}
.textColorRed{color: darkred;}

.footer__general--textColor{color: white;}


// Color subtitulos h3 carrusel(Únicamente vista Desktop)
.carrusel{
	h3{
		color: $h3Carrusel;
	}
}

.carrusel__usados--h2Color{color: $colorh2Usados;}
.carrusel__usados--listColor{color: $colorListaUsados;}
.usadosMobile__h2--color{color: $colorh2Usados;}
.usadosMobile__list--color{color: $colorListaUsados;}
.porQueNosotros__h3--color{color: $porQueNosotrosh3;}


// Sección usados
.usados--backgroundColor{background-color: $grisFondo;}
.usados{
	h3{color: rgb(255,127,86);}
}

//Sección autos_0km:
.autos0km--backgroundColor{background-color: $grisFondo;}
.autos0kmArticle{
	h3{
		color: rgb(255,127,86);
	}
	h4{
		color: #ff0100;
	}
}



// Sección footer
.footer{
	a{
	color: white;
	}
	h2{
		color: white;
	}
	h3{
		color: #ff0100;
	}
}


// Inicio sección formulario
.formulario{background-color: $grisFondo;}
.formulario__texto--colorRojo{color: #ff0100;}


// Ford
.ford--backgroundcolor{background-color: $grisFondo;}