/* vista desktop */
@media only screen and (min-width: 1024px){
	.hideOnDesktop{display: none;}
	.navbar-expand-lg .navbar-collapse{justify-content: flex-end;}


}

/* vista mobile */
@media only screen and (max-width: 1024px){
	.hideOnMobile{display: none;}
}


@media only screen and (min-width:) and (max-width: ){
	
}