// mixin 
*{
	max-width: 100vw;
}

@mixin size($width, $height){
	width: $width;
	height: $height;
}

.anchoPantalla{
	width: 100vw important
}


// INICIO SECCION 1: BENEFICIOS AUTOS 0KM/USADOS CERTIFICADO (Diferente codigo html vista desktop y mobile) 
// El carrusel unicamente en la vista desktop
.carrusel__usados--altura{@include size(100vw, 500px);
	
	}
.carrusel__0km--altura{
	@include size(100vw, 500px);
	div{ 
		max-width: 1280px;
	}
}

.usadosMobile__contenedor--altura{@include size(100vw, auto)}
.autos0kmMobile__contenedor--altura{@include size(100vw, auto)}


.carrusel__usados--imageSize{

	// Vista desktop:
	@media only screen and (min-width: 1024px){
		height: 350px;
	}
}


// INICIO SECCION 2: ENCONTRA POR TIPO/MARCA
.encontraXTipo{
	display: flex;
	justify-content: center;
	.row{
		max-width: 1280px;
	}
}
.encuentraXMarca{
	display: flex;
	justify-content: center;
	.row{
		max-width: 1280px;
	}
}

.encontraXTipo__row div{
	@media only screen and (min-width: 767px){
		min-width: 213.33333px;
	}	
}

.encontraPorMarcaRow div{
	@media only screen and (min-width: 1285px){
		min-width: 213.33333px;
	}
}

.encontraXMarca__logos--tamanio{
	img{
		@include size(70px, auto);
	}
}


// FIN INICIO SECCION 2: ENCONTRA POR TIPO/MARCA

// INICIO SECCION 3: POR QUE NOSOTRO
.porQueNosotros__row--tamanios{
	max-width: 1280px;
	height: auto;
}

// Inicio seccion autos_0km:
.encontraXTipoAutos0km__img--size{
	div{
		img{
			// Vista Mobile:


			// Vista desktop:
			@media only screen and (min-width: 1024px){
				@include size(120px, auto);
			}
		}
	}
}

//footer
footer{
	width: 100%;
}

