<!-- Pagina: Contacto -->
<!doctype html>
<html lang="es">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&family=Spinnaker&display=swap" rel="stylesheet">
  <!-- font-family: 'Raleway', sans-serif;
  font-family: 'Spinnaker', sans-serif; -->


  <!-- SEO meta tags-->
  <meta name="description" content="Contáctate con nosotros. Resuelve tus dudas e inconvenientes. ">
  <meta name="keywords" content="Auto 0km, 0km, cero kilometro, Ford, Kia, Volkswagen, Honda, Toyota, audi, bmw, Mercedes, Corolla, Nissan, Centra, Etios, Hilux">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

  <!-- AOS CSS (Efectos) -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/05f009300e.js" crossorigin="anonymous"></script>

  <!-- Nuestro CSS -->
  <link rel="stylesheet" href="../assets/css/estilo.css">

  <title>Contacto | SimpleMotors</title>
</head>
<body>


<!-- Barra de Navegación | Header Inicio -->
<header> 
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top ">
  <a class="navbar-brand" href="#">SimpleMotors</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="../index.html">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./autos_0km.html">Autos 0km</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./usados.html">Usados</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Contacto<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
</header>
<!-- Fin barra de Navegación | Header -->

  
<!-- Inicio contenido -->
<main>
<!-- Inicio seccion de contacto -->
<section class="formulario">

<div class="container">
<div class="row">

  <!-- Inicio Información -->
  <div class="col-lg-6 col-xs-12 col-12">
    <article class="contacto__article--boxMod">
      <h2>Contactanos</h2>
      <p class="formulario__texto--colorRojo">Si tiene alguna pregunta, por favor llame al llame al xxxxxxxxxx o llene el formulario aclarando el motivo de su consulta y pulse ENVIAR</p>
      <p>Una vez que el formulario haya sido enviado le brindaremos atención personalizada lo antes posible. Si su motivo de consulta es sobre cotizar su vehículo, le pedimos que adjunte documentación del estado completo del vehículo.</p>
    </article>
  </div>

  <!-- Inicio formulario -->
  <div class="col-lg-6 col-xs-12 col-12">
	<form>
		<div class="form-group">
		  <div class="row">
		    <div class="col">Nombre
		      <input type="text" class="form-control" placeholder="Marcos">
		    </div>

		    <div class="col">Apellido
		      <input type="text" class="form-control" placeholder="Rodríguez">
		    </div>
		  </div>
		</div>
	  <div class="form-group">
	    <label for="exampleFormControlInput1">Email</label>
	    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
	  </div>
	  <div class="form-group">
	    <label for="exampleFormControlSelect2">Seleccione el tema de su consulta.</label>
	    <select multiple class="form-control" id="exampleFormControlSelect2">
	      <option>Compra 0km</option>
	      <option>Compra Usados Certificado</option>
	      <option>Vender mi auto</option>
	      <option>Financiación</option>
	      <option>Servicios post venta</option>
	      <option>Otros</option>
	    </select>
	  </div>
	  <div class="form-group">
	    <label for="exampleFormControlTextarea1">Describa su consulta:</label>
	    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
	  </div>

	  <div class="form-group">
	    <label for="exampleFormControlFile1"></label>
	    <input type="file" class="form-control-file" id="exampleFormControlFile1">
	  </div>

	  <div class="form-group">		
		<input type="submit" 
		value="ENVIAR">
		<input type="reset" value="Limpiar formulario">
	  </div>
	</form>
  </div>
</div>
</div>
<!-- Fin formulario -->
</section>
<!-- Fin seccion contacto -->
</main>
<!-- Fin Contenido -->

<!-- Inicio footer -->
<footer>
  
<div class="container-fluid footer  footer--backgroundColor">
  <div class="row">
    <div class="col-lg-12 col-xs-12 col-12 footer__buttone--BoxMod">
      <h2>SimpleMotors</h2>
      <div class="wrapper">
         <div class="butttone">
            <div class="icon">
               <i class="fab fa-facebook-f"></i>
            </div>
            <span>Facebook</span>
         </div>
         <div class="butttone">
            <div class="icon">
               <i class="fab fa-twitter"></i>
            </div>
            <span>Twitter</span>
         </div>
         <div class="butttone">
            <div class="icon">
               <i class="fab fa-instagram"></i>
            </div>
            <a href="https://www.facebook.com/karvilatam/" title=""><span>Instagram</span></a>
         </div>
         <div class="butttone">
            <div class="icon">
               <i class="fab fa-youtube"></i>
            </div>
            <a href="#"><span>YouTube</span></a>
         </div>
      </div>
    </div>   
  </div>
  <div class="row footerBg footer--boxMod footer__general--textColor footer__general--textAlignCenter">
    <div class="col-lg-3 col-xs-12">
      <article>
        <p><a href="" title="">Autos Nuevos 0Km</a></p>
        <p><a href="" title="">Usados Certificados</a></p>
      </article>
    </div>
    <div class="col-lg-3 col-xs-12">
      <article>
        <p>FAQ</p>
        <p>Blog</p>
        <p>Quiénes Somos</p>
        <p>Concesionarias</p>  
      </article>
    </div>
    <div class="col-lg-3 col-xs-12">
      <article>
        <h3>Atención al cliente</h3>
        <p>Lun-Vie: 9:00 a 18:00</p>
        <p>0810-220-0811</p>
        <p>hola@karvi.com</p>  
      </article>
    </div>
    <div class="col-lg-3">
      <article>
        <h3>Atención concesionarias</h3>
        <p>concesionarias@karvi.com</p>
      </article>
    </div>
  </div>
</div>
</footer>
<!-- Fin foter -->



<!-- AOS -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
AOS.init();
</script>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<!-- <script src="../assets/js/bootstrap.bundle.min.js"></script> -->  
</body>

</html>

