@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

.imgFluid {
  width: 100%; }

.listStyleNone {
  list-style-type: none; }

.margin0 {
  margin: 0px; }

.padding0 {
  padding: 0px; }

.paddingSide25 {
  padding: 0 25px; }

.marignside25 {
  margin: 0 25px; }

.marginTop30 {
  margin-top: 30px; }

.carrusel__0km--boxMod {
  padding: 50px; }

.carrusel__usados--boxMod {
  padding: 50px 0; }

.usadosMobile--boxMod {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 0; }

.usadosMobile__contenedor--boxMod {
  padding: 50px 0; }

.encontraX--BoxMod {
  padding: 50px 0; }

.encontraXTipo__titulo--boxMod {
  padding-top: 30px; }

encontraXTipo__row--boxMod {
  padding: 50px 0; }

.encuentraXMarca__item--boxMod {
  display: flex;
  flex-direction: column;
  align-items: center; }

.encuentraXMarca__titulo--boxMod {
  padding-top: 50px;
  padding-bottom: 25px; }

.pruebaFondo {
  background-image: url(../img/mecanico3.png); }

.porQueNosotros__row--boxMod {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 0; }

.footer--boxMod {
  padding: 50px 0; }

.footer__buttone--BoxMod {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 60px;
  padding-right: 60px; }

.autos0km__contenedor--boxMod {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px; }

.encontraXTipo__row--boxMod div {
  padding: 30px 0; }

.encontraXMarca0km--BoxMod {
  padding: 50px 0; }

.encontraPorTipoRow--boxMod div {
  padding: 30px 0; }

.usados article {
  padding: 20px; }

.formulario {
  padding: 50px 30px; }

.contacto__article--boxMod h2 {
  padding-top: 50px;
  padding-bottom: 15px; }

.contacto__article--boxMod p {
  padding: 15px 0; }

.carrusel__usados--backgroundColor {
  background-color: #1b2141; }

.carrusel__0km--backgroundColor {
  background-color: #f2f3f8; }

.porQueNosotros--backgroundColor {
  background-color: #f2f3f8; }

.autos0kmMobile__contenedor--backgroundColor {
  background-color: #f2f3f8; }

.usadosMobile__contenedor--backgroundColor {
  background-color: #1b2141; }

.footer--backgroundColor {
  background-color: #1b2141; }

.encuentraX--backgroundColor {
  background-color: #f2f3f8; }

.textColorWhite {
  color: white; }

.textColorRed {
  color: darkred; }

.footer__general--textColor {
  color: white; }

.carrusel h3 {
  color: darkred; }

.carrusel__usados--h2Color {
  color: white; }

.carrusel__usados--listColor {
  color: white; }

.usadosMobile__h2--color {
  color: white; }

.usadosMobile__list--color {
  color: white; }

.porQueNosotros__h3--color {
  color: darkred; }

.usados--backgroundColor {
  background-color: #f2f3f8; }

.usados h3 {
  color: #ff7f56; }

.autos0km--backgroundColor {
  background-color: #f2f3f8; }

.autos0kmArticle h3 {
  color: #ff7f56; }

.autos0kmArticle h4 {
  color: #ff0100; }

.footer a {
  color: white; }

.footer h2 {
  color: white; }

.footer h3 {
  color: #ff0100; }

.formulario {
  background-color: #f2f3f8; }

.formulario__texto--colorRojo {
  color: #ff0100; }

.ford--backgroundcolor {
  background-color: #f2f3f8; }

.usadosMobile__contenedor--altura {
  width: auto;
  height: 600px; }

.autos0kmMobile__contenedor--altura {
  width: auto;
  height: 600px; }

.carrusel__usados--altura {
  width: auto;
  height: 500px; }

.carrusel__0km--altura {
  width: auto;
  height: 500px; }

@media only screen and (min-width: 1024px) {
  .carrusel__usados--imageSize {
    height: 350px; } }

.encontraXMarca__logos--tamanio img {
  width: 70px;
  height: auto; }

@media only screen and (min-width: 1024px) {
  .encontraXTipoAutos0km__img--size div img {
    width: 120px;
    height: auto; } }

footer {
  width: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

html, body {
  display: grid;
  height: 100%;
  width: 100%; }

.wrapper .butttone {
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out; }

.wrapper .butttone:hover {
  width: 200px; }

.wrapper .butttone .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out; }

.wrapper .butttone:nth-child(1):hover .icon {
  background: #4267B2; }

.wrapper .butttone:nth-child(2):hover .icon {
  background: #1DA1F2; }

.wrapper .butttone:nth-child(3):hover .icon {
  background: #E1306C; }

.wrapper .butttone:nth-child(4):hover .icon {
  background: #333; }

.wrapper .butttone:nth-child(5):hover .icon {
  background: #ff0000; }

.wrapper .butttone .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out; }

.wrapper .butttone:hover .icon i {
  color: #fff; }

.wrapper .butttone span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out; }

.wrapper .butttone:nth-child(1) span {
  color: #4267B2; }

.wrapper .butttone:nth-child(2) span {
  color: #1DA1F2; }

.wrapper .butttone:nth-child(3) span {
  color: #E1306C; }

.wrapper .butttone:nth-child(4) span {
  color: #333; }

.wrapper .butttone:nth-child(5) span {
  color: #ff0000; }

body h2 {
  font-family: helvetica; }

body h3 {
  font-family: tahoma; }

.formulario {
  font-family: 'Spinnaker', sans-serif; }

.usados h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 3vh; }

.autos0kmArticle h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  /* vista mobile */ }
  @media only screen and (max-width: 767px) {
    .autos0kmArticle h3 {
      font-size: 1.7rem; } }

.button {
  border-radius: 1rem;
  padding: 0.7rem;
  margin-left: 2rem;
  text-decoration: none;
  font-size: 2rem;
  color: white;
  background-image: linear-gradient(to left, #92a1f1, #566ded); }
  @media only screen and (max-width: 767px) {
    .button {
      font-size: 1rem; } }

.textAlignCenter {
  text-align: center; }

.uppercase {
  text-transform: uppercase; }

.encontraXTipo__titulo--uppercase {
  text-transform: uppercase; }

.encuentraXMarca__titulo--upercase {
  text-transform: uppercase; }

.encuentraXMarca__titulo--textAlignCenter {
  text-align: center; }

.encontraXTipo__row--text {
  text-align: center; }

.footer__general--textAlignCenter {
  text-align: center; }

.footer h2 {
  font-size: 3rem; }

.formulario h2 {
  font-size: 4rem; }

body {
  overflow-x: hidden; }

.carrusel__0km--flexbox {
  display: flex; }
  .carrusel__0km--flexbox .row {
    align-self: center; }

.carrusel__usados--flexbox .row {
  align-self: center; }

/* vista desktop */
@media only screen and (min-width: 1024px) {
  .hideOnDesktop {
    display: none; }
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end; } }

/* vista mobile */
@media only screen and (max-width: 767px) {
  .hideOnMobile {
    display: none; } }
